    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #fff;
        color: #555;
        font-family: "Gotham", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }
    
    .main-nav a {
        font-size: 96%;
    }

    header{
        height: 95px;
        background: linear-gradient(90.16deg, #00426F 102.15%, rgba(0, 66, 111, 0) 107.49%);
    }

    .main-box{
        background-image:linear-gradient( 
            186deg
            , rgb(0 0 0 / 0%) 15.31%, rgb(0 0 0 / 82%) 67.37% ),
            url('../imgs/imageHeader.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 500px;
    }

    .main-box h2{
        font-family: Gotham;
        font-size: 42px;
        line-height: 80px;
        letter-spacing: -2.01026px;
        font-weight: lighter;
    }

    .main-box p {
        font-family: Gotham;
        font-size: 100%;
        line-height: 80px;
        letter-spacing: -2.01026px;
    }
    /*section-one*/
    .section-one-content{
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 100px;
    }
    .section-one h3{
        font-family: Gotham;
        font-size: 28px;
        font-weight: 200;
    }
    .section-one p{
        font-family: Metropolis;
        font-size: 18px;
    }

    .section-one .section-one-img{
        position: absolute;
        height: 642px;
        width: 496px;
        left: 0;
        right: 0;
        top: 88px;
    }
    .section-one img{
        border-bottom-left-radius: 80px;
    }

    /*carousel*/
    .custom-carousel{
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: #023151;
        height: 700px;
        width: 100%;
        margin-top: 5em;
    }

    .custom-carousel h1{
        font-family: Metropolis;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        margin-top: 1em;
    }

    .card h2{
        font-family: Gotham;
        font-size: 110%;
        line-height: 26px;
        letter-spacing: -0.603077px;
        color: #000000;
    }

    .card p{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #000000;
        opacity: 0.5;
        padding: 0 11px;
    }

    .section-two-extra{
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }

    .wrapper{
        width: 100%;
      }
      .wrapper .owl-carousel{
        max-width: 1200px;
        margin: auto;
        padding: 0 30px;
      }
    
      .owl-carousel .card {
        margin: 20px 0;
        border-radius: 25px;
      }
    
      .card img{
        width: 100%;
        background: white;
        width: 100%;
        display: flex;
        border-radius:26px 26px 0 0;
      }
      .owl-dot{
        height: 15px;
        width: 45px;
        border: 2px solid #0072bc!important;
        border-radius: 25px;
        outline: none;
        margin: 0 5px;
        transition: all 0.3 ease;
      }
    
      .owl-dot:hover,.owl-dot:active{
        background: white!important;
      }
      .owl-nav button span {
          font-size: xx-large;
      }

      .card div{
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 13px;
        margin-bottom: 23px;
        width: 100%;
      }

      .footer-two {
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: linear-gradient(
            225.52deg,
            #04080a 0.45%,
            rgba(3, 15, 19, 0.982162) 45.25%
        );
        height: auto;
    }
  
    .gradient {
        background: #005c9b;
        background: -webkit-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: -moz-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Gotham;
    }
  
    .footer-two .section-border p {
        font-family: Gotham;
        font-size: 33px;
    }
    .footer-two a{
        text-decoration: none;
    }
    .footer-two .section-link p {
        font-family: Metropolis;
        font-size: 15px;
        color: #979797;
    }
  
    .footer-two img {
        width: 200px;
        max-width: 100%;
        max-height: 100%;
    }
    .footer-two .section-border{
      margin-left: 20px;
      border-bottom: 0.5px solid #ffffff21;
    }

    .owl-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .owl-dots button{
        display: flex!important;
        width: 26px!important;
        height: 26px!important;
    } 
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }

    @media only screen and (max-width:1000px){
        .section-one .section-one-img {
                position: absolute;
                height: 491px;
                width: 363px;
                left: 0;
                right: 0;
                top: 121px;
        }
        .section-one-content {
            padding-right: 225px;
            padding-left: 20px;
            padding-top: 20px;
        }

        .section-one h3 {
            font-size: 24px;
        }
        .section-one p {
            font-size: 14px;
        }  
        .custom-carousel{
            height: 562px;
        }
}


        @media only screen and (max-width:560px){
            .footer-two .footer-two-image img{
                width: 90px!important;
                height: 45px!important;     
            }
            .footer-two .footer-two-image a {
                font-size: 15px;
            }
            .footer-two .footer-section-one p{
                font-size: 29px !important;
                text-align:left!important;
            }
            .footer-two .footer-section-two{
                flex-direction: column-reverse!important;
                justify-content: flex-start!important;
                align-items: flex-start!important;
            }
            .footer-two .section-border{
            padding-bottom: 20px;
            }
            .section-one-img {
                height: 367px!important;
                width: 296px!important;
                top: 276px!important;
            }
            .h3-media {
                margin-top: 350px!important;
            }
            .section-one-content{
                padding-top: 0px;
                padding-right: 87px;
            }
            .owl-dots button {
                width: 22px!important;
                height: 22px!important;
            }
            
            .custom-carousel{
                    height: 721px;
            }

            }

        @media only screen and (max-width:360px){
            .section-link p {
                font-size: 14px!important;
            }
            .footer-two-image .icon-section{
                flex-direction: row;
                display: flex;
            }
            .section-one h3 {
                font-size: 22px!important;
            }
            .section-one p {
                font-size: 13px!important;
                margin-top: 10px!important;
            }
            .section-one .section-one-img{
                top:326px!important;
            }
            .section-one .h3-media {
                margin-top: 400px!important;
            }
            .custom-carousel h1{
                font-size: 30px;
            }
            .custom-carousel {
                height: 629px;
            }
            .section-one-content {
                padding-right: 23px;
            }
            
            
        }

        @media only screen and (max-width:900px) and (min-width:801px){
            .section-one .section-one-img{
                height: 464px;
                width: 330px;
                top: 186px;
            }
            .custom-carousel {
                    height: 954px;
            }
            .section-one-content {
                padding-right: 400px;
            }
        }

        @media only screen and (max-width:800px) and (min-width:600px){
            .section-one .section-one-img {
                height: 428px;
                width: 364px;
                top: 344px;
            }
            .section-one .h3-media {
                margin-top: 458px!important;
            }
        }