    .second{
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }

    .modal-window-first{
        border-radius: 31px;
    }

    .modal h5{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .modal h3{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 1px;
    }

    .modal-window-second{
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
        width: 463.59px;
        height: 391.74px;
        background: #FFFFFF;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }

    .input__one{
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 1em;
    }

    .input__two{
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 1em;
    }

    /* .input__two::placeholder{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 6%;
        line-height: 12px;
        letter-spacing: -0.376923px;
        color: rgba(0, 0, 0, 0.5);
    }*/

    .modal-window-second .my__btn{
        background: #0067AD;
        border-radius: 29px;
        font-family: Open Sans;
        text-align: center;
        border: 0;
        color: white;
        align-items: center;
        text-align: center;
        margin-top: 1em;
        border: 0;
        margin-right: auto;
        max-width: 100%;
        height: 27.120281219482422px;
        width: 111.4944839477539px;
        border-radius: 29px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 177.04%;
    }

    ::placeholder{
        font-family: Metropolis !important;
        font-size: 12px !important;
        line-height: 12px !important;
        color: rgba(0, 0, 0, 0.5) !important;
        padding-left: 5px !important;
      }

      @media only screen and (max-device-width:414px){
        .modal-window-second{
            width: 296.59px!important;
            margin-left: auto;
            margin-right: auto;
            }
    }
      
      @media only screen and (max-width:320px){
        .modal-window-second {
            width: 300px!important;
        }
            .modal-window-first h3{
                font-size: 24px!important;
            }
            .modal-window-first h5{
                font-size: 18px!important;
            }
            .modal-window-first{
                width: 96%!important;
            }
    }

    @media only screen and (max-width:280px){
        .modal-window-second{
            height: 364.74px!important;
            width: 261.59px!important;
        }
        input{
            margin-top: 12px!important;
        }
        .modal-window-second .my__btn{
            width: 93.494484px!important;
        }
        .modal-window-first .modal-body{
            padding: 14px;
        }
        .modal-window-first h3 {
            font-size: 21px!important;
        }
        .modal-window-first h5 {
            font-size: 17px!important;
        }
    }

    
      