    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #fff;
        color: #555;
        font-family: "Gotham", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }
    .custom_navbar{
        height: 95px;
        background: linear-gradient(90.16deg, #00426F 102.15%, rgba(0, 66, 111, 0) 107.49%);
    }
    .header-background{
        background-image:linear-gradient( 
            186deg
            , rgb(0 0 0 / 0%) 15.31%, rgb(0 0 0 / 82%) 67.37% ),
            url('../imgs/card1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .main-box{
        height: auto;
    }

    .main-box h1{
        font-family: Metropolis;
        text-align: center;
        color: #FFFFFF;
        font-size: 60px;
        padding-left: 57px;
        padding-right: 57px;
        margin-top: 200px!important;
    }

    .main-box p {
        font-family: Metropolis;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        padding-left: 57px;
        padding-right: 57px;
        margin-bottom: 150px!important;
    }
    .custom_form{
        width: 336px;
        height: 520px;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }
    .custom_form input{
        max-width: 100%;
        height: 60px;
        width: 296px;
        border-radius: 10px;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        }
        .custom_form label{
            font-family: Metropolis;
            font-size: 25px;
            color: #000000;
            margin-left: 20px;
            margin-top: 20px;
            background: #FFFFFF;
        }

    .custom_form button{
        max-width: 100%;
        background: #0067AD;
        border-radius: 29px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin-top: 20px;
        padding: 7px 25px;
        border: 0;
        margin-left: 20px;
    }
    
    .custom-container-two p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 38px;
        
    }

    .custom-container-two h3{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 117%;
        letter-spacing: -1.25641px;
        color: #000000;
        font-weight: bolder;
    }

    .shadow{  
        box-shadow:-4px 14px 20px 0px rgb(243 242 242)!important;
        border-radius: 25px;
    }

    .custom-container-one h3{
        font-family: Gotham;
        font-size: 28px;
        line-height: 120.1%;
        letter-spacing: -1.25641px;
        color: #000000;
        font-weight: 100;
        margin-bottom: 17px;
        font-weight: bolder;
    }

    .custom-container-one p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: -0.502564px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
    }


    .section-three button{
        padding: 7px 20px;
        border-radius: 26px;
        color: #0067AD;
        border: 0;
        background: #fff;
        box-shadow: 0px 13px 16px 7px rgb(0 0 0 / 13%);
        margin-right: 21px!important;
        font-size: 17px;
    }

    /*footer*/
    .footer-two {
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: linear-gradient(
            225.52deg,
            #04080a 0.45%,
            rgba(3, 15, 19, 0.982162) 45.25%
        );
        height: auto;
    }
  
    .gradient {
        background: #005c9b;
        background: -webkit-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: -moz-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Gotham;
    }
  
    .footer-two .section-border p {
        font-family: Gotham;
        font-size: 33px;
    }
    .footer-two a{
        text-decoration: none;
    }
    .footer-two .section-link p {
        font-family: Metropolis;
        font-size: 15px;
        color: #979797;
    }
  
    .footer-two img {
        width: 200px;
        max-width: 100%;
        max-height: 100%;
    }
    .footer-two .section-border{
      margin-left: 20px;
      border-bottom: 0.5px solid #ffffff21;
    }

    .owl-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .owl-dot{
        width: 15.64px!important;
        height: 15.64px!important;
        background: rgba(0, 0, 0, 0.3)!important;
    }

    .owl-dot:hover,.owl-dot:active{
        background: #005C9B!important;
      }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0000;
    }
    .nav-exclude .owl-nav  {
        position: absolute;
        top: 50%;
        left: -30px;
        right: -30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0000;
    }

    .owl-nav button{
        color: black !important;
    }

    .custom-container-one img{
        display: flex !important;
        border-radius: 20px !important;
    }

    @media (max-width: 991px) {
        .item-zoom:hover {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
        .main-box h1{
            font-size: 55px;
            margin-top: 139px!important;
        }
        .main-box p{
            font-size: 18px;
            margin-bottom: 200px;
        }
    }


    @media only screen and (max-width:560px){
        .custom_navbar{
            background: transparent;
        }

        .main-box h1{
            font-size: 36px!important;
            margin-top: 139px!important;
        }
        .main-box p{
            font-size: 16px!important;
            margin-bottom: 104px!important;
        }
        .main-box label{
            font-size: 21px;;
        }
        .main-box button{
            font-weight: 600;
            font-size: 13px;
            margin-top: 24px;
        }
        .custom_form{
            width: 299px;
            height: 416px;
        }
        .custom_form input{
            height: 37px;
            width: 267px;
        }
        .custom-container-one h3{
            font-size: 23px;
        }
        .custom-container-one p{
            font-size: 16px;
        }
        .section-three button{
            font-size: 14px!important;
            margin-left: 34px;
            font-size: 16px;
            padding: 7px 17px;
        }
        .custom-container-two h3{
            font-size: 26px;
        }
        .custom-container-two p{
            font-size: 15px;
        }
        .footer-two-image{
            align-items: flex-start!important;
          }
          .footer-two-image .icon-section .first-icon{
          margin-left: 0!important;
          }
        .footer-two .footer-two-image img{
            width: 90px!important;
            height: 45px!important;     
        }
        .footer-two .footer-two-image a {
            font-size: 15px;
        }
        .footer-two .footer-section-one p{
            font-size: 29px !important;
            text-align:left!important;
        }
        .footer-two .footer-section-two{
            flex-direction: column-reverse!important;
            justify-content: flex-start!important;
            align-items: flex-start!important;
        }
        .footer-two .section-border{
          padding-bottom: 20px;
        }
    }

    @media only screen and (max-width:360px){
        .menu-trigger-blue{
            width: 27px!important;
            height: 27px!important;
        }
        .menu-trigger-white{
            width: 27px!important;
            height: 27px!important;
        }
        .main-box h1{
            text-align: left;
            font-size: 28px!important;
        }
        .main-box p{
            font-size: 14px!important;
            margin-top: 10px;
            text-align: left;
        }
       
        .custom-container-one p{
            font-size: 14px;
        }

        .owl-dot {
            height: 19px!important;
            width: 19px!important;
        }

        .custom_form{
            width: 288px;
            height: 405px;
        }
        .custom_form label{
            font-size: 23px;
        }
        .custom_form input{
            height: 33px;
            width: 261px;
        }
        
        
        .section-three h3{
            font-size: 28px;
        }
        .section-three p{
            font-size: 16px;
        }
        .section-three .first_btn{
            margin-left: 17px;
        }
        .section-link p {
            font-size: 14px!important;
          }
          .footer-two-image .icon-section{
            flex-direction: row;
            display: flex;
          }
    }
    