    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #fff;
        color: #555;
        font-family: "Gotham", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }
    header{
        height: 95px;
        background: linear-gradient(90.16deg, #00426F 102.15%, rgba(0, 66, 111, 0) 107.49%);
    }

    .main-box{
        background-image:linear-gradient( 
            186deg
            , rgb(0 0 0 / 0%) 15.31%, rgb(0 0 0 / 82%) 67.37% ),
            url('../imgs/card1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: auto;
    }

    .main-box h1{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 3em!important;
        font-size: 40px;
        padding-left: 57px;
        padding-right: 57px;
    }

    .main-box p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 3em!important;
        padding-left: 57px;
        padding-right: 57px;
    }
    
    .custom-container-two p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 38px;
        
    }

    .custom-container-two h3{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 117%;
        letter-spacing: -1.25641px;
        color: #000000;
        
    }

    .box-shadow{  
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }

    .custom-container-one h3{
        font-family: Gotham;
        font-size: 28px;
        line-height: 120.1%;
        letter-spacing: -1.25641px;
        color: #000000;
    }

    .custom-container-one p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 38px;
        letter-spacing: -0.502564px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
    }


    .button{
        width: 148px;
        height: 36px;
        border-radius: 26px;
        color: #0067AD;
        border: 0;
        background: #fff;
        box-shadow: 0px 13px 16px 7px rgb(0 0 0 / 13%);
    }

    /*footer*/
    .footer-two {
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: linear-gradient(
            225.52deg,
            #04080a 0.45%,
            rgba(3, 15, 19, 0.982162) 45.25%
        );
        height: 700px;
    }

    .gradient {
        background: #005c9b;
        background: -webkit-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: -moz-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Gotham;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: -1.05538px;
    }

    .footer-two h1 {
        font-family: Gotham;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: -1.05538px;
    }

    .footer-two p {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: -0.376923px;
        color: #979797;
    }

    .footer-two img {
        width: 200px;
        margin-top: 50px;
        max-width: 100%;
        max-height: 100%;
    }

    .owl-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .owl-dot:hover,.owl-dot:active{
        background: gray !important;
      }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0000;
    }
    .nav-exclude .owl-nav  {
        position: absolute;
        top: 50%;
        left: -30px;
        right: -30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0000;
    }

    .owl-nav button{
        color: black !important;
    }

    .custom-container-one img{
        display: flex !important;
        border-radius: 20px !important;
    }

    @media (max-width: 991px) {
        .item-zoom:hover {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }