    * {
        /* margin: 0; */
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    html {
        background-color: #fff;
        color: #555;
        font-family: "Gotham", "Arial", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }

    .row-custom {
    max-width: 1140px;
    margin-left: 40px;
    }

    .header-one {
        background-image: linear-gradient(
            198.73deg,
            rgba(0, 0, 0, 0.0001) 15.31%,
            rgba(0, 0, 0, 0.837986) 67.37%
            ),
            url('../imgs/header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: auto;
    }

    .fas {
        color: #fff;
        width: 24px;
        height: 24px;
    }

    .arrow-footer a{
        text-decoration:none!important;
    }



    .hero-text-box .extra{
        display: flex!important;
        justify-content:end!important;
        align-items: end!important;
        flex-direction: column!important;
    }

    .hero-text-box p {
        font-family: Metropolis;
        color: white;
        font-size: 21px;
        margin-top: 54px;
        font-weight: 100;
    }

    .hero-text-box h1{
        font-family: Gotham;
        font-size: 60px;
        font-weight: 100;
        margin-top: 111px;
    }

    .arrow-footer{
        margin-top: 36px;
    }

    .bottom-nav {
        list-style: none;
        float: left;
        margin-top: 51px;
        padding: 0;
    }

    .btn-head {
        color:#0063B1;
        font-weight:600;
        background-color: #fff;
        border-radius: 200px;
        border: 1px solid #fff;
        word-spacing: 4px;
        text-decoration: none;
        font-size:90%;
        text-align: center;
        padding: 10px 40px;
        font-family: Open Sans;
    }

    .bottom-nav li {
        display: inline-block;
    }

    .btn1 {
        margin-right: 3em;
    }

     .arrow-footer p {
        margin-left: 9px;
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 28px;
        letter-spacing: -0.502564px;
        color: #ffffff;
    }

    .arrow-footer i{
        padding-top: 31px;
    }
    /* .section-one img{
        display: flex;
        border-top-right-radius: 56px;
        height: 100%;
    } */
    .section-one .parent-row{
        height: auto;
    }

    .section-one-img{
        padding-left: 0!important;
        padding-top: 65px!important;
        border-top-right-radius: 57px;
        padding-top: 65px;
        height: 568px;
        max-width: 100%;
        background-image: url(../imgs/imageHeader.png);
        background-size: cover;
        background-position: -375px 0px;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
    .section-one_index h2{
        margin-top: 20px;
    }

    .section-one h6 {
        position: static;
        font-family: Metropolis;
        color: rgba(0, 0, 0, 0.5);
        font-size: 100%;
        
    }
    .section-one h6:after {
        border: 1px solid black;
        max-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 400px;
        height: 1px;
        margin-bottom: 40px;
        border-image-source: linear-gradient(90deg, #0067ad 0%, #02375b 94.96%);
        border-image-slice: 1;
        border-radius: 2px;
    }
    .section-one h2 {
        font-family: Gotham;
        font-weight: 200;
        font-size: 190%;
        margin-bottom: 34px;
        position: static;
        border-top:3px solid #02375B;
    }

    .section-one p {
        font-size: 18px;
        
    }
    .section-one a{
        background: #FFFFFF;
        border-radius: 29px;
        /* width: 148px;
        height:36px; */
        color: #0067AD;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 177.04%;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        margin-bottom: 31px;
        margin-left: 10px;
        text-align: center;
        padding: 9px 36px;
        background: #F8F8F8; 
        border: solid #BDBDBD 1px; 
        box-shadow: 3px 16px 27px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 3px 16px 27px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 3px 16px 27px rgba(0, 0, 0, 0.5)  ; 
    }

    /* dark blue div of the landing page*/
    .hide{
        display: none;
    }
    .section-two {
        background-color: #023151;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 1140px;
    }

    .extra-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-one {
        max-width: 100%;
        max-height: 100%;
        width: 142px;
        height: 100px;
        margin-top: 96px;
        margin-bottom: 50px;
    }

    .section-two h2 {
        color: #ffff;
        font-family: metropolis;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 700
    }

    .header-p {
        color: #fff;
        font-family: metropolis;
        font-size: 18px;
    }

    .image-two {
        max-width: 100%;
        max-height: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .extra-two {
        background: #ffffff;
        border-radius: 25px;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
    }

    figure h5 {
        font-family: Gotham;
        font-size: 110%;
        line-height: 26px;
        margin-top: 17px;
        letter-spacing: -0.603077px;
        color: #000000;
        align-items: center;
    }

    figure div{
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 13px;
        margin-bottom: 23px;
    }

    .card-paragraph {
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 77%;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #000000;
        opacity: 0.5;
        margin-left: 20px;
    }
    /*test*/
    figure {
        position: relative;
        overflow: hidden;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 25px;
        background-color: #fff;
        transition: all 0.3s;
    }

    figure img {
        vertical-align: top;
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .item-zoom:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    @media (max-width: 991px) {
        .item-zoom:hover {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
    /*test*/
    .card-box {
        transform: scale(1.5);
        transition: transform 0.5s;
        opacity: 0.7;
        width: 100%;
        height: auto;
    }

    .card-box :hover {
        transform: scale(1.03);
    }

    .empty-div {
        background: #f5f5f5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        position: relative;
    }

    .hidden {
        display: none;
    }

    .show{
        display: inline-block;
    }

    .section-three p {
        font-family: Metropolis;
        font-size: 90%;
        line-height: 30px;
        letter-spacing: -0.502564px;
        color: #000000;
        font-family: Metropolis;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.502564013004303px;
        text-align: left;
    }

    .section-three h1 {
        font-family: Gotham;
        font-weight: bold;
        font-size: 40px;
        line-height: 33px;
        letter-spacing: -1.25641px;
        color: #000000;
        font-family: Gotham;
        text-align: left;
        margin-bottom: 60px;
        padding-top: 29px;

        border-top: 1px solid black;
        max-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 400px;
        height: 1px;
        border-image-source: linear-gradient(90deg, #0067ad 0%, #02375b 94.96%);
        border-image-slice: 1;
    }

    .section-three a{
        padding: 10px 28px;
        border-radius: 26px;
        background: 0067AD;
        background: #0067AD;
        color: white;
        border: 0;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        padding-top: 5px;
    }
    .section_3_text{
        padding: 29px;
        padding-left: 28px;
    }

    .interior-designer {
        margin-top: 33px;
        padding: 0;
        border-top-left-radius: 57px;
        filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
        width: 100%;
        height: 70%;
    }
    .section-three .custom_logo{
        margin-top: 25px;
    }

    /*FOOTER*/

    .footer-one {
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: linear-gradient(
            225.52deg,
            #00426f 0.45%,
            rgba(0, 0, 0, 0.982162) 100.47%
        );
        height: auto;
    }

    .linear-two{
        width: 37em;
        height:2px;
        border-top-left-radius: 57px;
        background: linear-gradient(90deg, #d1a26f 0%, #023151 94.96%);
        border-radius: 2px;
        display: flex;
        margin-top: 60px;
    }

    .footer-one h1 {
        font-family: Gotham;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -1.25641px;
        font-weight: 600;
    }

    .footer-one p {
        font-family: Gotham;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.427179px;
        font-weight: 200;
    }

    .footer-one img {
        width: 60px;
        height: 22px;
        margin-top: 30px;
    }

    .footer-two {
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: linear-gradient(
            225.52deg,
            #04080a 0.45%,
            rgba(3, 15, 19, 0.982162) 45.25%
        );
        height: auto;
    }
  
    .gradient {
        background: #005c9b;
        background: -webkit-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: -moz-linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        background: linear-gradient(to left, #005c9b 100%, #1b2f51 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Gotham;
    }
  
    .footer-two .section-border p {
        font-family: Gotham;
        font-size: 33px;
    }
    .footer-two a{
        text-decoration: none;
    }
    .footer-two .section-link p {
        font-family: Metropolis;
        font-size: 15px;
        color: #979797;
    }
  
    .footer-two img {
        width: 200px;
        max-width: 100%;
        max-height: 100%;
    }
    .footer-two .section-border{
      margin-left: 20px;
      border-bottom: 0.5px solid #ffffff21;
    }

    /*carousel*/
    .custom-carousel{
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        background: #023151;
        height: 700px;
        width: 100%;
        margin-top: 5em;
    }

    .custom-carousel h1{
        font-family: Metropolis;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 117%;
        letter-spacing: -1.25641px;
        margin-top: 1em;
    }

    .card h2{
        font-family: Gotham;
        font-size: 110%;
        line-height: 26px;
        letter-spacing: -0.603077px;
        color: #000000;
    }

    .card p{
        font-family: Metropolis;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #000000;
        opacity: 0.5;
        padding: 0 11px;
    }

    .section-two-extra{
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
        border-radius: 25px;
    }

    .wrapper{
        width: 100%;
      }
      .wrapper .owl-carousel{
        max-width: 1200px;
        margin: auto;
        padding: 0 30px;
      }
    
      .owl-dot{
        height: 15px;
        width: 45px;
        border: 2px solid #0072bc!important;
        border-radius: 25px;
        outline: none;
        margin: 0 5px;
        transition: all 0.3 ease;
      }
      .owl-dots{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
      }
    
      .owl-dot:hover,.owl-dot:active{
        background: white!important;
      }
      .owl-nav button span {
          font-size: xx-large;
      }
      .owl-dot{
        align-items: center;
        margin-top: 40px;
        color: inherit;
        border: none;
        padding: 0!important;
        font: inherit;
        height: 26px!important;
        width: 26px!important;
        border-radius: 50%!important;
      }

      .card div{
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 13px;
        margin-bottom: 23px;
        width: 100%;
      }


     @media only screen and (max-width:360px) {
      
        .hero-text-box .bottom-nav li{
            margin-top: 18px!important;
            display: block!important;
        }
        .hero-text-box p{
            font-size: 15px;
        }
        .hero-text-box .bottom-nav{
            margin-left: auto!important;
            margin-right: auto!important;
        }
        .hero-text-box .bottom-nav .btn1{
            margin-right: 0!important;
        }
      .section-one .section-text h6{
        font-size: 16px!important;
      }
      .section-one .section-text h2{
        font-size: 27px!important;
      }
      .section-one .section-text p{
        font-size: 15px;
      }
      .section-one .section-text a{
        padding: 5px 27px;
        margin-left: 25px;
        font-size: 14px;
      }
      .section-one .section-one-img {
       background-image: url('../imgs/SecondMobile.jpg')!important;
       background-position-x: 1px;
     }

      .section-two h2{
        font-size: 25px!important;
      }
      .section-two p{
        font-size: 13px;
      }
      .section-three h1{
        font-size: 29px!important;
      }
      .section-three p {
        font-size: 14px;
      }
      .section-three a{
        font-size: 16px;
        padding: 5px 21px;
      }
      .arrow-footer a{
          font-size: 15px!important;
      }
      .arrow-footer a p{
        font-size: 15px!important;
        }
        .section-link p {
            font-size: 14px!important;
          }
          .footer-two-image .icon-section{
            flex-direction: row;
            display: flex;
          }
    }

    @media only screen and (max-width:560px){
        .section-three{
            flex-direction: column-reverse;
        }
        .section-three .interior-designer{
            margin-bottom: 14px;
        }
        .section-one-img{
            height: 492px;
        }
        .hero-text-box h1{
            font-size: 52px;
        }
        .hero-text-box p{
            font-size: 18px;
        }
        .btn-head{
            font-size: 15px;
            padding: 9px 28px;
        }

        .custom_logo_parent{
            width: 100px;
            height: 92px;
        }
        .section-three h1{
            font-size: 34px;
        }
        .section-three p{
            font-size: 16px;
        }
        .section-three .section_3_text a{
            padding: 8px 25px;
        }
        .footer-one h1{
            font-size: 33px;
        }
        .footer-one p{
            font-size: 15px;
        }
        .footer-one img{
            width: 56px;
            height: 20px;
        }
        .footer-two .footer-two-image img{
            width: 90px!important;
            height: 45px!important;     
        }
        .footer-two .footer-two-image a {
            font-size: 15px;
        }
        .footer-two .footer-section-one p{
            font-size: 29px !important;
            text-align:left!important;
        }
        .footer-two .footer-section-two{
            flex-direction: column-reverse!important;
            justify-content: flex-start!important;
            align-items: flex-start!important;
        }
        .footer-two .section-border{
          padding-bottom: 20px;
        }
    }
       

   @media only screen and (max-width:991px){
        .section-one-img{
            padding-top: 0;
            left: 0;
            right: 0;
            padding-left: 0!important;
            position: initial;
            z-index: initial;
        }
        .section-one .parent-row{
            padding-top:0!important;
            padding-bottom:0!important;
        }
        .section-one .section-one_index{
            padding: 0 0!important;
            /* background-image: url('../imgs/SecondMobile.jpg')!important; */
        }
        .section-one-img{
            height: 492px;
        }
        .owl-dots{
            margin-bottom: 32px!important;
        }
    }
        
      
